Flask
Flask-SQLAlchemy
Flask-Bcrypt
Flask-Login
Flask-Mail
Flask-CORS
requests
beautifulsoup4
pandas
numpy
scikit-learn
keras
APScheduler
python-dotenv
Pillow
google-generativeai
yfinance
ta
joblib
lxml
pytz
textblob
matplotlib
seaborn
schedule
# tensorflow